.board{
  width:300px;
  height:400px;
  background: linear-gradient(to top, #ECEDFF, #EEF7FE);
  position:absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%);
}

/***
  base setting
***/
.normalText{
  color:#7E8FB6;
}
.flowLeft{
  float:left;
}
.h_center{
  display:inline-block;
  vertical-align: center;
}

/***
  text setting
***/
.l_text{
  font-size:25px;
}
.ml_text{
  font-size:20px;
}
.m_text{
  font-size:16px;
}
.ms_text{
  font-size:12px;
}
.s_text{
  font-size:10px;
}

/***
  object setting
***/
input[type=checkbox]{
  border:none;
  background-color: #728FD6;
  margin:8px;
}
input[type=checkbox]:checked{
  background-color: #728FD6;
  color:#728FD6;
}
input[type=button]:hover{
  cursor:pointer;
}